@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Sora', sans-serif;
  line-height: 1.7;
  color: var(--body);
}

/* global css */
h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
